/nodemodules
//dist
//build
//coverage
//*.log
//*.env
//*.tsbuildinfo
//*.tgz

//*.zip
//*.tar.gz
//*.tar
//*.tar.xz
//*.tar.bz2
//*.tar.lz

//*.tar.lzma
//*.tar.lzo
//*.tar.zst
//*.tar.zstd
//*.tar.zlib
//*.tar.zlib1


//*.tar.zlib2
//*.tar.zlib3
//*.tar.zlib4
//*.tar.zlib5
//*.tar.zlib6

